.mainContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left {
  width: 240px;     
  flex-shrink: 0;
}

.right {
  flex: 1;          
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  background-color: var(--bg-soft);
}
