/* Search */
.search-container {
  display: flex;
  align-items: center;
  background-color: var(--bg-main);
  border-radius: var(--radius-md);
  padding: 8px 12px;
  width: 280px;
  justify-content: center;
  border: 1px solid var(--border-light);
}

.search-icon {
  margin-right: 8px;
  color: #888;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}
